
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url("img/bg_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 19px;
    margin-right: 50px;
    margin-top: 20px;
    text-align: center;
}

.navigations {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    background-color: #000;
}

.navigations_parent {
    display: flex;
    justify-content: space-between;
}

.title_logo span {
    color: #f98837;
    font-size: 40px;
    font-weight: 500;
}

.title_logo h1{
    font-weight: 700;
    color: #fff;
    margin-left: 150px;
    font-size: 40px;
}

.title_logo {
    position: absolute;
}

.logo span{
    color: #f98837;
    font-size: 65px;
    font-weight: 500;
}

.logo h1 {
    font-weight: 700;
    color: #fff;
    margin-left: 150px;
    font-size: 65px;
    margin-top: 107px;
}

.text {
    max-width: 518px;
    margin-left: 150px;
    color: #ffffff;
    margin-top: 35px;
    font-family: sans-serif;
}

.line {
    width: 68px;
    height: 2px;
    background-color: #fff;
    margin-left: 150px;
    margin-top: 35px;
}

.text_small {
    max-width: 461px;
    color: #717376;
    font-size: 17px;
    margin-left: 150px;
    margin-top: 35px;
}

.button_parent {
    margin-left: 150px;
    margin-top: 50px;
    width: 150px;
    height: 35px;
    border: 2px solid #fff;
}

.button_parent .button {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}

.register {
    float: right;
    margin-top: -450px;
    width: 362px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #fff;
    margin-right: 150px;
    height: 400px;
}

.title {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

.header_title span{
    color: #fe9850;
}

.header_title {
    height: 70px;
    font-size: 26px;
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.name_reg, .Email_reg, .Password_reg {
  width: 300px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 9px;
  color: #bdbdbd;
}

.Email {
    margin-top: 50px;
}

.Password {
    margin-top: 50px;
}

.button_start {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background-color: #ff9b51;
    border: none;
    color: #fff;
    font-size: 18px;
}

.socialMedia {
    height: 160px;
    border-bottom: 2px solid #b7b7b7;
}

.socialMedia h1 {
    margin-top: 22px;
    margin-left: 150px;
    font-weight: 600;
    font-family: sans-serif;
}

.text_socialMedia {
    max-width: 360px;
    color: #86878b;
    font-family: sans-serif;
    margin-left: 150px;
    margin-top: 10px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
}

.logos_socialMedia {
    display: flex;
    justify-content: flex-end;
}

.item_logo {
    margin-left: 100px;
}

.tabs {
    display: flex;
}

.text_tabs {
    margin-left: 100px;
}

.tabs_parent {
    margin-left: 140px;
}

.tab_item {
    width: 110px;
    height: 111px;
    background-color: #333333;
    text-align: center;
    padding-top: 55px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #c7c7c7;
}

.active {
    background-color: #ff8b38;
    cursor: pointer;
}

.text_item_tab {
    max-width: 476px;
    color: #a2a3a6;
}


.btn_tab {
    display: block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding-top: 17px;
    width: 119px;
    height: 50px;
    background-color: #ff8b38;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #000;
}

.tabs {
    background-color: #f5f5f5;
    height: 680px;
}

.tabs_parent {
    margin-top: 100px;
}

.text_tabs {
    margin-top: 100px;
}

.imgCity>img {
  margin-left: 700px;  
}

.section_2 {
    margin-top: 125px;
    margin-left: 152px;
}

.line_section_2 {
    width: 70px;
    height: 2px;
    background-color: #ff8b38;
    margin: 0 auto;
    margin-right: 528px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.section_2 {
    display: flex;
    justify-content: space-between;
}

.text_section_2 h2 {
    margin-right: 171px;
}

.text_section_2 p{
    color: #86878b;
}

.text_section_2 {
    max-width: 600px;
}

.title {
    margin-top: 55px;
    background-color: #fff;
}

.img_city_2 img{
    box-shadow: 8px 8px 8px 8px #e4e4e4;
}

.span_text_title {
    position: absolute;
    margin-left: -3px;
    margin-top: -34px;
    font-size: 18px;
}

.title .title_img{
    margin-left: -70px;
    margin-bottom: -20px;
}

.span_title_text {
    position: absolute;
    margin-left: 3px;
    margin-top: -80px;
    font-size: 18px;
}

.section_3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 550px;
    margin-top: 138px;
    background-color: #f5f5f5;
}

.title_section_3 {
    padding-top: 50px;
    margin-left: 50px;
    font-family: Arial;
}

.title_section_3 h2{
    margin-left: 150px;
}

.img_section_3 {
    padding-top: 90px;
    padding-right: 122px;
}

.line {
    background-color: #ff8b38;
    margin-top: 30px;
}

.text_section_3 {
    margin-left: 150px;
    margin-top: 30px;
    color: #c9c9cb;
    font-size: 18px;
    max-width: 550px;
}

.parent_img {
    display: flex;
}

.section_4 h1 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
}

.text_title {
    margin-left: 605px;
    margin-top: -10px;
}

.section_4 .line {
    margin-left: 47%;
    margin-top: -30px;
    position: absolute;
}

.img_items {
    max-width: 356px;
    color: #c8c9ca;
    margin-left: 142px;
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.img_items img {
    padding-bottom: 20px;
}

.img_items h2 {
    padding-bottom: 20px;
    color: #000;
}

.section_5 h1{
    margin-top: 105px;
    margin-left: 670px;
    padding-top: 102px;
    font-family: 'Roboto', sans-serif;
}

.line_section_5 {
    background-color: #ff8b38;
    margin-top: 30px;
    margin-left: 770px;
    width: 63px;
    height: 2px;
}

.section_5 p {
    margin-left: 620px;
    margin-top: 30px;
    color: #9e9fa2;
    font-family: 'Roboto', sans-serif;
}

.section_5 {
    background-color: #f5f5f5;
    width: 100%;
    height: 884px;
}

.dolars {
    display: flex;
    align-items: center;
}

.dolars_item {
    width: 343px;
    height: 463px;
    margin-top: 130px;
    margin-left: 144px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.title-dolars {
    width: 343px;
    height: 62px;
    text-align: center;
    color: #ececec;
    font-size: 20px;
    padding-top: 20px;
    border-bottom: 2px solid #f5f5f5;
    background-color: #333333;
}

.value {
    background-color: #333333;
    color: #fff;
    font-size: 50px;
    text-align: center;
    height: 155px;
    width: 343px;
    padding-top: 40px;
    border-bottom: 6px solid #ff8b38;
}

.texts_dolars {
    border-top: 1px solid #e4e1e1;
    height: 45px;
    text-align: center;
    color: #8f9094;
    padding-top: 15px;
    background-color: #fff;
}

.dolar_logo {
    font-size: 30px;
}

.number {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
